.theUser{
  color: blue; 
  border: 1px dashed red;
  width: 100%;
  padding: 50px 50px;
  margin: 50px 0;
  box-sizing: border-box;
  background-color: #D5B6AE;
}


#userField{
    color: blue;
    background-color: #D5B6AE;
    
}
#adminLogin{
    color: black;
    
}
